In [14]:
a = 11
if a == 11:
    print('This is my first condition')

This is my first condition

In [15]:
a = 10
if a > 5 :
    pass

In [24]:
a = 10 
if a>9 :
    print(' print this statement as true')

 print this statement as true

In [30]:
a = 10
if a != 11 :
    print("my condition is false")
else: 
    print('print this')

my condition is false

In [33]:
a = 10
if a == 11 :
    print("my condition is false")
else: 
    print('print this')

print this

In [37]:
a = 11
if a == 12:
    print(' here we are trying to comparre 10 with 12')
elif a==11:
    print('here we are trying to comparre 10 with 11')
else:
    print(' if all the blocks fail then do this')

here we are trying to comparre 10 with 11

In [42]:
a = 29
if a == 12:
    print(' here we are trying to comparre 10 with 12')
elif a==11:
    print('here we are trying to comparre 10 with 11')
elif a > 30 :
    print('here we are trying to comparre 10 with >30')
else:
    print(' if all the blocks fail then do this')

 if all the blocks fail then do this

In [67]:
price = 600
if price > 500  :
    print('may be i wont able to buy a mobile')
elif price < 500 :
        print(' i will able to buy a mobile')
elif price == 500 :
    print(' i will definately buy a mobile')
else:
    print(' i wont buy any thing')

may be i wont able to buy a mobile

In [2]:
l = [ 1, 2, 3,4,5,6]
2 in l

True

In [4]:
if 5 in l :
    print(' try to perform a task')
else:
    print:('do not perform a task')

 try to perform a task

In [5]:
a = [1,2,3,4,5,6]

In [11]:
if 1 in a :
    print('then do the addition')
elif 2 in a :
    print('then do the sub')
elif 3 in a :
    print('then do multi')
else:
    print('do division')

then do the addition

In [14]:
if 10 in a :
    print('then do the addition')
elif 2 in a :
    print('then do the sub')
elif 3 in a :
    print('then do multi')
else:
    print('do division')

then do the sub

In [15]:
if 10 in a :
    print('then do the addition')
elif 20 in a :
    print('then do the sub')
elif 3 in a :
    print('then do multi')
else:
    print('do division')

then do multi

In [16]:
if 10 in a :
    print('then do the addition')
elif 20 in a :
    print('then do the sub')
elif 3 in a :
    print('then do multi')
else:
    print('do division')
if 4 in a :
    print('this is new state')

then do multi
this is new state

In [17]:
b = 400

In [21]:
c = input()

[1,2,3,4,5]

In [22]:
type(c)

str

In [25]:
a1 = int(input())

400

In [26]:
type(a1)

int

In [29]:
a2 = int(input())

nitin

ValueError: invalid literal for int() with base 10: 'nitin'

In [46]:
b1 = int(input())
if b1 < 500 :
    print('i will buy something')
    if b1 < 400 :
        print(' i will buy pant')
    elif b1 < 300 :
        print(' i will buy t shirt')
        if b1 < 100 :
            print('i will buy hand karcheep')
    else :
        print(' i will not buy anything')
else:
    print('i will not buy anything')
    if b1 > 600 :
        print('i will try diff')

750
i will not buy anything
i will try diff

In [50]:
marks = int(input())
if marks < 600:
    print('no GRE')
    if marks < 500:
        print( 'TOFFEL')
        if marks < 400 :
            print('something else')
    else:
        print('you got TOFFEL')
else:
    print('you got GRE Congrts')

550
no GRE
you got TOFFEL

In [3]:
marks = int(input())
if marks < 600:
    print('no GRE')
    if marks < 500:
        print( 'TOFFEL')
        if marks < 400 :
            print('try something else')
    else:
        print('you got TOFFEL')
else:
    print('you got GRE Congrts')

550
no GRE
you got TOFFEL

In [7]:
value = float(input('enter a floating point number  '))
if value >= 0:
    if value == 0 :
        print('value is zero')
    else :
        print('entered value is positive no')
else:
    print('entered value is negative no.')

enter a floating point number  0.2
entered value is positive no

In [7]:
a = 10 
if a < 10 or a==10 :
    print('try to do something')

try to do something

In [11]:
a = int(input()) 
if a < 10 or a==10 :
    print('try to do something')

9
try to do something

In [13]:
a = 10 
if a <= 10 and a==10 :
    print('try to do something')

try to do something

In [20]:
a = 'nithin'
if a =='nithin' and a =="Nithin" :
    print('this is currect')

In [19]:
a = 'nithin'
if a =='nithin' or a =="Nithin" :
    print('this is currect')

this is currect

In [21]:
a = 100
if a <=100 and a==100:
    print('this is currect')

this is currect

In [23]:
a = 10
b = 11
c = 12
d = 14
if a == 9 and b == 11 and c == 12 and d == 13 :
    print('lets do something')

In [26]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13 :
    print('lets do something')

lets do something

In [29]:
d = {'key' : 'value' , 'key2' : 'nithin' , 'key3' : 'python'}
if d['key'] == 'value' and d['key2'] == 'nithin'  and d['key3'] == 'python' :
    print(d.values())

dict_values(['value', 'nithin', 'python'])

In [30]:
d = {'key' : 'value' , 'key2' : 'nithin' , 'key3' : 'python'}
if d['key'] == 'value' and d['key2'] == 'sachin'  and d['key3'] == 'python' :
    print(d.values())
else:
    print('all the values are not currect')

all the values are not currect

In [1]:
l = [1,2,3,4,5,'nithin',40.40]

In [2]:
l[0]

1

In [3]:
l[3]

4

In [5]:
l[2:5]

[3, 4, 5]

In [6]:
for i in l:
    print(i)

1
2
3
4
5
nithin
40.4

In [7]:
a = (1,2,3,4,5,'nithin',40.40)

In [8]:
type(a)

tuple

In [9]:
for i in a:
    print(i)

1
2
3
4
5
nithin
40.4

In [10]:
for i in a:
    print(i + 1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [14]:
a1 = (1,2,3,4,5,str('nithin'),40.40)

In [17]:
for i in a1 :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [18]:
l

[1, 2, 3, 4, 5, 'nithin', 40.4]

In [20]:
for i in l:
    if type(i) == int:
        print(i+1)
    elif type(i) == str :
        print(i + str(1))
    elif type(i)== float:
        print(i + float(1))

2
3
4
5
6
nithin1
41.4

In [23]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str :
        print(i + str(1))

2
3
4
5
6
nithin1
41.4

In [24]:
value = [1,2,3,4,'nithin',404.4]

In [25]:
for i in value:
    print(i)

1
2
3
4
nithin
404.4

In [26]:
l

[1, 2, 3, 4, 5, 'nithin', 40.4]

In [27]:
l1 = []
for i in l :
    if type (i) == int:
        l1.append(i)

In [28]:
l1

[1, 2, 3, 4, 5]

In [30]:
l2 =[]
for i in l :
    if type(i) == str:
        l2.append(i)

In [31]:
l2

['nithin']

In [32]:
l3 = []
for i in l:
    if type (i) == int:
        l3.append(i)
    elif type(i) == float:
        l3.append(i)

In [33]:
l3

[1, 2, 3, 4, 5, 40.4]

In [36]:
l4 = []
for i in l:
    if type(i) == int:
        l.count(i)

In [37]:
l4

[]