In [43]:
l = [1,2,3,4,5,'nithin', 50.50]

In [45]:
for i in l : # for loop
    print(i)

1
2
3
4
5
nithin
50.5

In [5]:
a = [1,2,3,4,5,'nithin', 50.50]
for b in a :
    print(a)

[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]
[1, 2, 3, 4, 5, 'nithin', 50.5]

In [7]:
a1 = "nithin"
for i in a1 :
    print(i)

n
i
t
h
i
n

In [10]:
a2 = '50.50'
for i in a2:
    print(a2)

50.50
50.50
50.50
50.50
50.50

In [11]:
l

[1, 2, 3, 4, 5, 'nithin', 50.5]

In [12]:
for i in l:
    print(i)
else:
    print('if for loop is goin to complete itself then it will excecute')

1
2
3
4
5
nithin
50.5
if for loop is goin to complete itself then it will excecute

In [13]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print('this will only excecute only if for going to comolete')

1
2
3

In [9]:
a = [1,2,3,4,'nithin',50.50]

In [10]:
for i in a :
    print(i)

1
2
3
4
nithin
50.5

In [14]:
for i in a:
    if i ==4 :
        break
    print(i)

1
2
3

In [23]:
a1 = 'elephant'
for i in a1 :
    if i == 'n':
        break
    print(i)
else:
    print('print string' , a1)

e
l
e
p
h
a

In [22]:
a1 = 'elephant'
for i in a1 :
    if i == 'z':
        break
    print(i)
else:
    print('print string' , a1)

e
l
e
p
h
a
n
t
print string elephant

In [38]:
t = (1,2,3,4,5,6,'nithin',50.50) #tuple

In [39]:
for i in t:
    print(i)

1
2
3
4
5
6
nithin
50.5

In [32]:
s = {1,2,3,4,5,4,5,5,5,5,6,7,8,9,9,9,"nithin",50.50}

In [33]:
type(s)

set

In [34]:
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
nithin
50.5

In [30]:
s

{1, 2, 3, 4, 5, 50.5, 'nithin'}

In [35]:
s

{1, 2, 3, 4, 5, 50.5, 6, 7, 8, 9, 'nithin'}

In [37]:
for i in s:
    print(i) # set

1
2
3
4
5
6
7
8
9
nithin
50.5

In [48]:
d ={'key':'nithin', 'key1':'sachin', 'key2':'nagendra'}

In [49]:
for i in d:
    print(i)

key
key1
key2

In [50]:
d['key']

'nithin'

In [51]:
for i in d:
    print(d[i])

nithin
sachin
nagendra

In [52]:
for i in d:
    print(i, d[i])

key nithin
key1 sachin
key2 nagendra

In [56]:
for i in d:
    print(i, ":" , d[i])

key : nithin
key1 : sachin
key2 : nagendra

In [57]:
d

{'key': 'nithin', 'key1': 'sachin', 'key2': 'nagendra'}

In [59]:
d['key']

'nithin'

In [60]:
#Nustad for loop

In [61]:
range(9)

range(0, 9)

In [62]:
range(0)

range(0, 0)

In [63]:
range(1,5)

range(1, 5)

In [65]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [67]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [71]:
for i in list(range(0,10,2)):
    print(i)

0
2
4
6
8

In [73]:
list(range(9,0,-1)) # same direction

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
list(range(9,0,1)) # opposite direction

[]

In [77]:
n =4 # 4 rows and colunms
for i in range(4): #(0,1,2,3)
    for j in range(0, i+1):
        print('nithin', end =" ")
    print('\n')

nithin

nithin nithin

nithin nithin nithin

nithin nithin nithin nithin

In [78]:
x = 6
for i in range(5) :
    for z in range(0, i+1):
        print('anusha', end=" ")
    print('\n')

anusha

anusha anusha

anusha anusha anusha

anusha anusha anusha anusha

anusha anusha anusha anusha anusha

In [82]:
x = 6
for i in range(5) :
    for z in range(0, i+1):
        print('anusha', end=" ")
    print('\n')

anusha

anusha anusha

anusha anusha anusha

anusha anusha anusha anusha

anusha anusha anusha anusha anusha

In [5]:
x = 3
for i in range(3) :
    for z in range(0, i+1):
        print('anusha', end=" ")
    print('\n')

anusha

anusha anusha

anusha anusha anusha

In [9]:
x =3
for i in range(3):
    for j in range(0 , i+1) and range(1, i+1)
        print('sudh', end = " ")
    print('\n')

SyntaxError: invalid syntax (858663888.py, line 3)

In [18]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('sudh'),end = " ")
    for j in range(i+1):
        print('sudh', end=" ")
    for j in range(i):
        print('sudh', end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [20]:
a = 4
for i in range(a):
    for j in range(i, n-1):
        print(' '*len('sudh'), end=' ')

In [25]:
n = 3
for i in range(n+1):
    print(' '*(n-1)+ "sudh  " *i)

  sudh
  sudh  sudh
  sudh  sudh  sudh

In [26]:
t =(2,3,43,55,67,2,4,6,7,9)

In [35]:
for i in range(len(t)):
    print(i, t[i])

0 2
1 3
2 43
3 55
4 67
5 2
6 4
7 6
8 7
9 9

In [36]:
t[3]

55

In [40]:
t

(2, 3, 43, 55, 67, 2, 4, 6, 7, 9)

In [44]:
for i in range(len(t)): #extract in tuple
    print(i, t[i])

0 2
1 3
2 43
3 55
4 67
5 2
6 4
7 6
8 7
9 9

In [45]:
s = 'inueron'

In [49]:
for i in range(len(s)): #extract elements with indexs
    print(i,s[i])

0 i
1 n
2 u
3 e
4 r
5 o
6 n

In [51]:
s

'inueron'

In [62]:
for i in list(range(len(s)-1,-1,-1)): # reverse of above index
    print(i,s[i])

6 n
5 o
4 r
3 e
2 u
1 n
0 i

In [63]:
a = 'anusha'

In [68]:
for i in list(range(len(a))):
    print(i,a[i])

0 a
1 n
2 u
3 s
4 h
5 a

In [78]:
for i in list(range(len(a)-1,-1,-1)):
    print(i,a[i])

5 a
4 h
3 s
2 u
1 n
0 a

In [80]:
d ={'key':'nithin', 'key1':'sachin', 'key2':'nagendra'}

In [81]:
d

{'key': 'nithin', 'key1': 'sachin', 'key2': 'nagendra'}

In [82]:
d.items() # extraction of data

dict_items([('key', 'nithin'), ('key1', 'sachin'), ('key2', 'nagendra')])

In [84]:
for i in d.items():
    print(i)

('key', 'nithin')
('key1', 'sachin')
('key2', 'nagendra')

In [86]:
for i in d.items():
    print(i, type(i),type(i[1]))

('key', 'nithin') <class 'tuple'> <class 'str'>
('key1', 'sachin') <class 'tuple'> <class 'str'>
('key2', 'nagendra') <class 'tuple'> <class 'str'>

In [92]:
l = ['nithin','sachin',123456,'nithinhegde01@gmail.com',600,40000000] # all numeric in one side

In [105]:
l1= []
for i in range(len(l)):
    print(i,l[i], type(i),)
    if type(i)==int:
        l1.append(i)

0 nithin <class 'int'>
1 sachin <class 'int'>
2 123456 <class 'int'>
3 nithinhegde01@gmail.com <class 'int'>
4 600 <class 'int'>
5 40000000 <class 'int'>

In [103]:
l

['nithin', 'sachin', 123456, 'nithinhegde01@gmail.com', 600, 40000000]

In [106]:
for i in l:
    if type(i) == int:
        l1.append(i)

In [107]:
l1

[0, 1, 2, 3, 4, 5, 123456, 600, 40000000]

In [108]:
#key value players key must be numeric one
d

{'key': 'nithin', 'key1': 'sachin', 'key2': 'nagendra'}

In [109]:
d= {'key':'nithin', 'key1': 'sachin', 'key2': 'nagendra', 1:12345, 'email id':'nithin01@gmail.com', 450:34567,'43':'asdcf'}

In [112]:
for i in d:
    if type(i)==int:
        print(i)

1
450

In [114]:
for i in d:
    print(i,type(i))

key <class 'str'>
key1 <class 'str'>
key2 <class 'str'>
1 <class 'int'>
email id <class 'str'>
450 <class 'int'>
43 <class 'str'>

In [115]:
for i in d:
    if type(i)==int:
        print(i , ':' , d[i])

1 : 12345
450 : 34567

In [116]:
s = 'aabbcccdddeee' # output with different elements

In [124]:
b = set[s]

In [125]:
b

set['aabbcccdddeee']

In [127]:
s.count("a")

2

In [131]:
for i in set(s):
    print(i, ' ' , s.count('i'))

d   0
b   0
e   0
c   0
a   0

In [132]:
s

'aabbcccdddeee'

In [136]:
for i in set(s):
    print(i, ' ' , s.count(i))

d   3
b   2
e   3
c   3
a   2

In [137]:
i = 1234567890 # int object is not iterable
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [138]:
str(i)

'1234567890'

In [140]:
for j in str(i):
    print(j,type(j))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
6 <class 'str'>
7 <class 'str'>
8 <class 'str'>
9 <class 'str'>
0 <class 'str'>

In [143]:
for j in str(i):
    print(int(j),type(int(j)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
0 <class 'int'>

In [144]:
t = ('nithin', 'kumar', [1,2,3,4,5],(2,3,4,5,6),{'key':'nithin','key2':'sachin'}) # extract 3 in the tuple

In [150]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j ==3:
                print(j)
    print(i)

nithin
kumar
3
[1, 2, 3, 4, 5]
3
(2, 3, 4, 5, 6)
{'key': 'nithin', 'key2': 'sachin'}

In [151]:
t = ('nithin', 'kumar', [1,2,3,4,5],(2,3,4,5,6),{'key':'nithin','key2':'sachin',3:12345})

In [157]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [158]:
t = ('nithin', 'kumar', [1,2,3,4,5],(2,3,4,5,6),{'key':'nithin','key2':'sachin',3:3})

In [163]:
for i in t: # important modification
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [165]:
c = {4:5, 'key':"nithin",'key1':'sachin'}

In [168]:
for i in c.items():# results gets tuples
    print(i)

(4, 5)
('key', 'nithin')
('key1', 'sachin')

In [169]:
c.items()

dict_items([(4, 5), ('key', 'nithin'), ('key1', 'sachin')])

In [170]:
a = 10 # both the result are same 
b = 20
c = 30

In [172]:
a,b,c = 10,20,30

In [ ]:
#q1

In [174]:
#q1 
n = 4
for i in range(4):
    for j in range(0,i+1):
        print('ineuron', end=' ')
    print('\n')

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [180]:
#Q2

n = 3
for i in range(n):
    for j in range(i,n-1):
        print(' '*len('inueron'),end = " ")
    for j in range(i+1):
        print('inueron', end=" ")
    for j in range(i):
        print('inueron', end=" ")
    for k in range(i-1):
        print('inueron', end=" ")
    print()

                inueron
        inueron inueron inueron
inueron inueron inueron inueron inueron inueron

In [183]:
a=range(0,2)

In [184]:
a

range(0, 2)

In [215]:
n=5
for i in range(n):
    for j in range(i,n-1): #(0,1,2,3,4)
        print(' '*len('sudh'), end=' ')
    for j in range(i+1):
        print('sudh', end=' ')
    for j in range(i):
        print('sudh', end=' ')
    for j in range(i):
        print('sudh', end=' ')
    print()

                    sudh
               sudh sudh sudh sudh
          sudh sudh sudh sudh sudh sudh sudh
     sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh

In [234]:
n = 5
for i in range(n-1):
    for j in range(i,n-1):
        print(' '*len('sudh'), end=" ")
    for j in range(i+1):
        print('sudh', end=' ')
    for j in range(i):
        print('sudh', end=' ')
    print()
for i in range(n):
    for k in range(i):
        print('sudh', end= ' ')
    for k in range(i-1):
        print('sudh', end=' ')
    for k in range(i, n-1):
        print(' '*len('sudh'), end =' ')
    

    print()

                    sudh
               sudh sudh sudh
          sudh sudh sudh sudh sudh
     sudh sudh sudh sudh sudh sudh sudh

sudh
sudh sudh sudh
sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh